.fancy-area {
    border: 1px solid #ddd;
    cursor: text;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    input {
        background: none;
        border: 0;

        &:focus {
            outline: none;
        }
    }
}
.fancy-area-focus {
    border-color: blue;
}
