@font-face {
    font-family: 'StateFace';
    src:url('fonts/StateFace.eot');
    src:url('fonts/StateFace.eot?#iefix') format('embedded-opentype'),
        url('fonts/StateFace.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

label[for=us-states] {
  display: block;
  margin-bottom: 6px;
}
.instructions {
  color: #999;
}

.twitter-typeahead {
  width: 100%;
}

.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  border-width: 1px;
  margin-bottom: 0;
}

.tt-dropdown-menu {
  min-width: 160px;
  margin-top: 2px;
  padding: 5px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.tt-suggestion {
  display: block;
  overflow: hidden;
  padding: 3px 20px 3px 40px;
  position: relative;
}
.tt-suggestion .stateface {
  color: #888;
  font-size: 24px;
  left: 2px;
  line-height: 38px;
  position: absolute;
  text-align: center;
  top: 0;
  width: 30px;
}

.tt-suggestion .tagline {
  color: #888;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0077b3', GradientType=0)
}

.tt-suggestion.tt-is-under-cursor a,
.tt-suggestion.tt-is-under-cursor .stateface,
.tt-suggestion.tt-is-under-cursor .tagline {
  color: #fff;
}

.tt-suggestion p {
  margin: 0;
}

.stateface {
    font-family: 'StateFace';
    speak: none;
}

.state-us:before { content: "\e000"; }
.state-al:before { content: "\e001"; }
.state-ak:before { content: "\e002"; }
.state-az:before { content: "\e003"; }
.state-ar:before { content: "\e004"; }
.state-ca:before { content: "\e005"; }
.state-co:before { content: "\e006"; }
.state-ct:before { content: "\e007"; }
.state-de:before { content: "\e008"; }
.state-dc:before { content: "\e009"; }
.state-fl:before { content: "\e00a"; }
.state-ga:before { content: "\e00b"; }
.state-hi:before { content: "\e00c"; }
.state-id:before { content: "\e00d"; }
.state-il:before { content: "\e00e"; }
.state-in:before { content: "\e00f"; }
.state-ia:before { content: "\e010"; }
.state-ks:before { content: "\e011"; }
.state-ky:before { content: "\e012"; }
.state-la:before { content: "\e013"; }
.state-me:before { content: "\e014"; }
.state-md:before { content: "\e015"; }
.state-ma:before { content: "\e016"; }
.state-mi:before { content: "\e017"; }
.state-mn:before { content: "\e018"; }
.state-ms:before { content: "\e019"; }
.state-mo:before { content: "\e01a"; }
.state-mt:before { content: "\e01b"; }
.state-ne:before { content: "\e01c"; }
.state-nv:before { content: "\e01d"; }
.state-nh:before { content: "\e01e"; }
.state-nj:before { content: "\e01f"; }
.state-nm:before { content: "\e020"; }
.state-ny:before { content: "\e021"; }
.state-nc:before { content: "\e022"; }
.state-nd:before { content: "\e023"; }
.state-oh:before { content: "\e024"; }
.state-ok:before { content: "\e025"; }
.state-or:before { content: "\e026"; }
.state-pa:before { content: "\e027"; }
.state-ri:before { content: "\e028"; }
.state-sc:before { content: "\e029"; }
.state-sd:before { content: "\e02a"; }
.state-tn:before { content: "\e02b"; }
.state-tx:before { content: "\e02c"; }
.state-ut:before { content: "\e02d"; }
.state-vt:before { content: "\e02e"; }
.state-va:before { content: "\e02f"; }
.state-wa:before { content: "\e030"; }
.state-wv:before { content: "\e031"; }
.state-wi:before { content: "\e032"; }
.state-wy:before { content: "\e033"; }
.state-pr:before { content: "\e035"; }
